body {
  background-color: #212121;
}

// SIMON GRID
.simon-grid {

  .simon_grid-row {
    display: flex;
    flex-direction: row;
    
    .simon_grid-col {
      display: flex;
      flex: 1;
    }
  }

}